$backgroundColor: green;

body {
  margin: 2rem;
}

// Card Styles
#inner-container {

  #cards-container {
    display: grid;

    .card {
      width: 100%;
    }

    @media(min-width: 768px) {
      .card {
        width: 100%;
      }
    }
  }

  @media(min-width: 768px) {
    #cards-container {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      grid-gap: 2%;
    }
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}