<h1>Recept hozzáadása: </h1>
<form id="recipesForm" action="/recipes/single" method="POST" enctype="multipart/form-data">
  <div class="form-group" id="titleAndPortion">
    <label for="title">Recept név:</label><br>
    <input type="text" id="title" name="title"><br>
    <label for="portion">Adag/Fő</label><br>
    <input type="number" id="portion" name="portion">
  </div>

  <hr>

  <div class="form-group" id="cost">
    <h3>Költség:</h3>
    <br>
    <label for="cheap">Olcsó</label>
    <input type="radio" id="cheap" name="cost" value="Olcsó">
    <br>
    <label for="average">Átlagos</label>
    <input type="radio" id="average" name="cost" value="Átlagos">
    <br>
    <label for="expensive">Drága</label>
    <input type="radio" id="expensive" name="cost" value="Drága">
    <br>
    <label for="extraExpensive">Nagyon Drága</label>
    <input type="radio" id="extraExpensive" name="cost" value="Nagyon Drága">
  </div>


  <br><br>


  <div class="form-group" id="difficulty">
    <h3>Nehézség:</h3>
    <br>
    <label for="cheap">Könnyű</label>
    <input type="radio" id="low" name="difficulty" value="Könnyű">
    <br>
    <label for="average">Átlagos</label>
    <input type="radio" id="medium" name="difficulty" value="Átlagos">
    <br>
    <label for="expensive">Nehéz</label>
    <input type="radio" id="hard" name="difficulty" value="Nehéz">
    <br>
    <label for="extraExpensive">Nagyon nehéz</label>
    <input type="radio" id="extraHard" name="difficulty" value="Nagyon nehéz">
  </div>


  <br><br>
  <hr>


  <div class="form-group" id="time">
    <label for="preparationTime">Előkészitési idő</label>
    <select name="preparationTime" id="preparationTime">
      <option value="5">5 perc</option>
      <option value="10">10 perc</option>
      <option value="15">15 perc</option>
      <option value="20">20 perc</option>
      <option value="25">25 perc</option>
      <option value="30">30 perc</option>
      <option value="40">40 perc</option>
      <option value="45">45 perc</option>
      <option value="60">60 perc</option>
    </select>


    <br><br>


    <label for="cookingTime">Elkészitési idő</label>
    <select name="cookingTime" id="cookingTime">
      <option value="5">5 perc</option>
      <option value="10">10 perc</option>
      <option value="15">15 perc</option>
      <option value="20">20 perc</option>
      <option value="25">25 perc</option>
      <option value="30">30 perc</option>
      <option value="40">40 perc</option>
      <option value="45">45 perc</option>
      <option value="60">60 perc</option>
      <option value="90">90 perc</option>
      <option value="120">120 perc</option>
      <option value="150">150 perc</option>
    </select>
  </div>


  <br><br>
  <hr>
  
  <div class="form-group" id="uploadImg">
    <input type="file" name="cover" id="cover">
  </div>

  <br><br><hr>

  <div class="form-group" id="ingredients">
    <h3>Adj hozzávalókat <span><button id="addIngredients">+</button></span></h3>

    <div class="ingredients-card">
      <input type="text" id="ingredient" name="ingredient" value="">
      <input type="number" id="ingredientPortion" name="ingredientPortion"><span>/g</span>
      <select name="ingredientType" id="ingredientType">
        <option value="Hús">Hús</option>
        <option value="Ital">Ital</option>
        <option value="Tejtermék">Tejtermék</option>
        <option value="Gyümölcs">Gyümölcs</option>
        <option value="Zöldség">Zöldség</option>
        <option value="Fúszer">Fúszer</option>
        <option value="Egyéb">Egyéb</option>
      </select>
    </div>


    <table class="table .table-dark" id="ingredientsListTable">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Hozzávalók</th>
          <th scope="col">Mennyiség/g</th>
          <th scope="col">Fajtája</th>
        </tr>
      </thead>
      <tbody id="ingredientsTemplate">

      </tbody>
    </table>
  </div>

<div id="editIngredientsCard">
  
</div>



  
  <div class="form-group" id="comment-group">
    <h3>Megjegyzés:</h3>
    <textarea class="form-control" id="comment" rows="3"></textarea>
  </div>

  <br><br><br>

  <button type="submit" class="btn btn-info" id="sendRecipe">Submit</button>

</form>