
<header>
  <div class="p-5 text-center" id="heading">
    <h1 class="mb-3">Recipes</h1>
    <h4 class="mb-3">For Kinga</h4>
  </div>
  <nav id="nav">
    <div>
      <ul>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Kezdőlap</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/recipes">Receptek</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/recipes/new">Receptek hozzáadaása</a>
        </li>
      </ul>
    </div>
  </nav>
  </header>


